h1 {
  text-align: center;
}
figure {
  border: gray thin solid;
  margin: 5;
  padding: 5px;
  width: 8em;
  height: inherit;
  border-radius: 20%;
  float: left;
  background-color: rgb(219, 230, 230);
}
hr {
  clear: left;
}

figcaption {
  text-align: center;
}

h2 {
  clear: left;
  text-align: center;
}
div {
  background-color: gray;
  width: min-content;
}
img {
  width: 50px;
  height: 50px;
  float: left;
}

tr:hover {
  background-color: rgb(70, 68, 68);
}
table {
  width: max-content;
  border-collapse: collapse;
}
tr {
  height: max-content;
  align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-right: 10px;
}
button {
  width: 150px;
  text-align: center;
  vertical-align: middle;
}
header {
  background-color: blueviolet;
  padding: 15px;
}
menu {
  background-color: rgb(148, 36, 120);
  padding: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.aside1 {
  height: 40px;
  width: 160px;
  background-color: rgb(107, 28, 87);
  margin-top: 3px;
  text-align: center;
}
.aside2 {
  height: 60px;
  width: 160px;
  background-color: rgb(107, 28, 87);
  margin-top: 3px;
  text-align: center;
  vertical-align: middle;
}
.aside3 {
  height: 140px;
  width: 82px;
  background-color: rgb(107, 28, 87);
  position: relative;
  top: -313px;
  left: 775px;
}
body {
  background-color: rgb(221, 217, 217);
}
main {
  background-color: rgb(153, 69, 231);
  margin: 5px;
  height: 200px;
  width: 600px;
  display: block;
  position: relative;
  top: -108px;
  left: 161px;
}
section {
  background-color: rgb(121, 14, 221);
}
.section1 {
  height: 45px;
  width: 400px;
  margin-left: 10px;
  margin-bottom: 3px;
  position: relative;
  bottom: -51px;
}
.section2 {
  height: 45px;
  width: 400px;
  margin-left: 10px;
  margin-bottom: 3px;
  position: relative;
  bottom: -42px;
}
p {
  text-indent: 20px;
  padding-top: 7px;
}
.text {
  background-color: rgb(153, 69, 231);
  width: 200px;
  position: relative;
  top: 55px;
  left: 15px;
}
footer {
  margin-top: 5px;
  background-color: blueviolet;
height: 50px;
position: relative;
top: -260px;}

.vertical{writing-mode: vertical-rl; }